.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box{
    height: 80px;
    width: 80px;
    border: 2px solid red;
    padding: 40px;
    text-transform: uppercase;
}